## Deliverable 2. Create a Customer Travel Destinations Map.

In [25]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Import API key
from config import g_key

# Configure gmaps API key
gmaps.configure(api_key=g_key)

In [48]:
# 1. Import the WeatherPy_database.csv file. 
city_data_df = pd.read_csv("WeatherPy_database-1.csv")

city_data_df.head()

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Description,Date
0,0,Thompson,CA,55.7435,-97.8558,62.20,42,97,2.82,overcast clouds,2022-09-08 03:08:56
1,1,Chokurdakh,RU,70.6333,147.9167,57.60,39,100,13.27,overcast clouds,2022-09-08 03:08:56
2,2,Ancud,CL,-41.8697,-73.8203,41.23,91,99,2.13,light rain,2022-09-08 03:08:57
3,3,Toora-Khem,RU,52.4675,96.1100,72.21,31,68,3.27,broken clouds,2022-09-08 03:08:57
4,4,Ushuaia,AR,-54.8000,-68.3000,35.26,80,20,1.14,few clouds,2022-09-08 03:07:44

In [49]:
# 2. Prompt the user to enter minimum and maximum temperature criteria 

min_temp = float(input("What is the minimum temperature you would like for your trip?"))

max_temp = float(input("What is the maximum temperature you would like for your trip?"))

What is the minimum temperature you would like for your trip?70
What is the maximum temperature you would like for your trip?88

In [54]:
# 3. Filter the city_data_df DataFrame using the input statements to create a new DataFrame using the loc method.

vacation_city_df = city_data_df.loc[(city_data_df["Max Temp"] >= min_temp) & (city_data_df["Max Temp"] <= max_temp)]

vacation_city_df.head(10)

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Description,Date
3,3,Toora-Khem,RU,52.4675,96.1100,72.21,31,68,3.27,broken clouds,2022-09-08 03:08:57
5,5,Kapaa,US,22.0752,-159.3190,83.48,70,20,12.66,few clouds,2022-09-08 03:08:57
10,10,Pacific Grove,US,36.6177,-121.9166,73.54,82,0,8.99,clear sky,2022-09-08 03:07:00
11,11,Katsuura,JP,35.1333,140.3000,81.45,79,100,20.42,overcast clouds,2022-09-08 03:08:58
13,13,Ponta Delgada,PT,37.7333,-25.6667,79.50,94,40,11.50,scattered clouds,2022-09-08 03:08:59
14,14,Ocos,GT,14.5094,-92.1933,77.18,77,100,6.24,overcast clouds,2022-09-08 03:08:59
24,24,Naze,JP,28.3667,129.4833,79.93,78,82,12.91,broken clouds,2022-09-08 03:09:02
27,27,Yatou,CN,37.1500,122.3833,78.31,54,5,1.70,clear sky,2022-09-08 03:09:02
28,28,Georgetown,MY,5.4112,100.3354,82.33,85,20,6.91,few clouds,2022-09-08 03:06:23
33,33,Atuona,PF,-9.8000,-139.0333,76.59,79,24,28.03,light rain,2022-09-08 03:09:03

In [58]:
# 4a. Determine if there are any empty rows.
vacation_city_df.notnull().count()

City_ID        254
City           254
Country        254
Lat            254
Lng            254
Max Temp       254
Humidity       254
Cloudiness     254
Wind Speed     254
Description    254
Date           254
dtype: int64

In [6]:
# 4b. Drop any empty rows and create a new DataFrame that doesn’t have empty rows.

In [116]:
# 5a. Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = vacation_city_df[["City", "Country", "Max Temp", "Description", "Lat", "Lng"]].copy()

# 5b. Create a new column "Hotel Name"
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

,City,Country,Max Temp,Description,Lat,Lng,Hotel Name
3,Toora-Khem,RU,72.21,broken clouds,52.4675,96.1100,
5,Kapaa,US,83.48,few clouds,22.0752,-159.3190,
10,Pacific Grove,US,73.54,clear sky,36.6177,-121.9166,
11,Katsuura,JP,81.45,overcast clouds,35.1333,140.3000,
13,Ponta Delgada,PT,79.50,scattered clouds,37.7333,-25.6667,
14,Ocos,GT,77.18,overcast clouds,14.5094,-92.1933,
24,Naze,JP,79.93,broken clouds,28.3667,129.4833,
27,Yatou,CN,78.31,clear sky,37.1500,122.3833,
28,Georgetown,MY,82.33,few clouds,5.4112,100.3354,
33,Atuona,PF,76.59,light rain,-9.8000,-139.0333,

In [117]:
# Iterate through the DataFrame.

# Set parameters to search for a hotel.
params = {
    "radius": 5000,
    "types": "lodging",
    "key":g_key}

for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"

    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
    
    # Grab the first hotel from the results and store the name.
    # Grab the first hotel from the results and store the name.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
            
    except (IndexError):
        
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [118]:
import numpy as np

In [123]:
# 7. Drop the rows where there is no Hotel Name.

hotel_df['Hotel Name'].replace('', np.nan, inplace=True)

hotel_df

,City,Country,Max Temp,Description,Lat,Lng,Hotel Name
3,Toora-Khem,RU,72.21,broken clouds,52.4675,96.1100,NaN
5,Kapaa,US,83.48,few clouds,22.0752,-159.3190,Sheraton Kauai Coconut Beach Resort
10,Pacific Grove,US,73.54,clear sky,36.6177,-121.9166,Lovers Point Inn
11,Katsuura,JP,81.45,overcast clouds,35.1333,140.3000,Katsuura Hotel Mikazuki
13,Ponta Delgada,PT,79.50,scattered clouds,37.7333,-25.6667,Vila Nova Hotel
...,...,...,...,...,...,...,...
554,Constantine,DZ,72.81,scattered clouds,36.3650,6.6147,Grand Hotel Cirta
556,Ligayan,PH,82.80,overcast clouds,4.6533,119.4706,NaN
560,Nizwa,OM,78.89,clear sky,22.9333,57.5333,Orient Apartments
561,Bokoro,TD,79.93,overcast clouds,12.3807,17.0568,NaN
562,Progreso,MX,81.10,scattered clouds,21.2833,-89.6667,Playa Linda Hotel

In [125]:
hotel_df.dropna(subset=['Hotel Name'], inplace=True)

hotel_df

,City,Country,Max Temp,Description,Lat,Lng,Hotel Name
5,Kapaa,US,83.48,few clouds,22.0752,-159.3190,Sheraton Kauai Coconut Beach Resort
10,Pacific Grove,US,73.54,clear sky,36.6177,-121.9166,Lovers Point Inn
11,Katsuura,JP,81.45,overcast clouds,35.1333,140.3000,Katsuura Hotel Mikazuki
13,Ponta Delgada,PT,79.50,scattered clouds,37.7333,-25.6667,Vila Nova Hotel
14,Ocos,GT,77.18,overcast clouds,14.5094,-92.1933,Auto Hotel El Soñador
...,...,...,...,...,...,...,...
552,Aldama,MX,74.79,overcast clouds,22.9167,-98.0667,CASA CANYE
553,Cao Bang,VN,78.85,overcast clouds,22.6667,106.2500,khách sạn 88
554,Constantine,DZ,72.81,scattered clouds,36.3650,6.6147,Grand Hotel Cirta
560,Nizwa,OM,78.89,clear sky,22.9333,57.5333,Orient Apartments
562,Progreso,MX,81.10,scattered clouds,21.2833,-89.6667,Playa Linda Hotel

In [130]:
# 8a. Create the output File (CSV)

output_data_file = "WeatherPy_vacation.csv"


# 8b. Export the City_Data into a csv
hotel_df.to_csv(output_data_file, index_label="City_ID")

In [131]:
# 9. Using the template add city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>

<dt>Hotel</dt><dd>{Hotel Name}</dd>

<dt>City</dt><dd>{City}</dd>

<dt>Country</dt><dd>{Country}</dd>

<dt>Max Temp</dt><dd>{Max Temp} °F</dd>

<dt>Weather Description</dt><dd>{Description}</dd>

</dl>
"""

# 10a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = hotel_df[["Lat", "Lng"]]

In [137]:
# 11a. Add a marker layer for each city to the map. 

locations = hotel_df[["Lat", "Lng"]]

max_temp = hotel_df["Max Temp"]

fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)

marker_layer = gmaps.marker_layer(locations,info_box_content=hotel_info)


fig.add_layer(marker_layer)

#call figure 

fig


# 11b. Display the figure

Figure(layout=FigureLayout(height='420px'))